<div class="start-page">
    <div class="start-page__main-block">
        <header h-is-auth="true"></header>
        <div class="start-page__content">
            <div class="start-page__title">
                Love and honesty are the things that make a good wife and mother...
            </div>
        </div>
        <div class="start-page__content">
            <img class="start-page__htc" src="content/img/htc1.png">
            <div class="start-page__buttons-promo">
                <div class="start-page__buttons-app">
                    <div class="start-page__store">
                        <img src="content/img/download-button.png">
                        <p>download app</p>
                    </div>
                    <div class="start-page__register" ng-click="vm.signUp()">register</div>
                </div>
                <div class="start-page__promo">
                    <li>Here can be your advertising</li>
                    <li>Here can be your advertising</li>
                    <li>Here can be your advertising</li>
                </div>
            </div>
        </div>
        <img class="start-page__wave" src="content/img/wave.png">
    </div>
    <div class="start-page__about">
        <div class="text">
            <h1>Explanation about the app and website</h1>
            <p>
                Video of virtual explanition about the website. It is a long established fact that a reader will be
                distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here', making it look like readable English. Many desktop publishing packages and web page
                editors
                now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                sites
                still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
                on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="start-page__second-content">
        <!--<iframe width="1280" src="https://www.youtube.com/embed/6v2L2UGZJAM"-->
                <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <img class="start-page__video-image" src="content/img/img-video.jpg" alt="">
        <div class="start-page__finkel">
            <!--<img class="start-page__finkel-image" src="content/img/Finkel.png">-->
            <img class="start-page__wave" src="content/img/wave.png">
        </div>
        <div class="start-page__approvals">
            <p>Approvals</p>
        </div>
        <div class="start-page__approvals-information">
            <div class="start-page__approvals-content">
                <!--<div class="start-page__video">-->
                <!--<iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"-->
                <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>-->
                <!--</iframe>-->
                <!--</div>-->
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
                <div class="start-page__view">
                    <span>view more</span>
                </div>
            </div>
            <div class="start-page__approvals-content">
                <!--<div class="start-page__video">-->
                <!--<iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"-->
                <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>-->
                <!--</iframe>-->
                <!--</div>-->
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
                <div class="start-page__view">
                    <span>view more</span>
                </div>
            </div>
            <div class="start-page__approvals-content">
                <!--<div class="start-page__video">-->
                <!--<iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"-->
                <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>-->
                <!--</iframe>-->
                <!--</div>-->
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
                <div class="start-page__view">
                    <span>view more</span>
                </div>
            </div>
        </div>
        <div class="start-page__approvals">
            <p>Books</p>
        </div>
        <div class="start-page__approvals-information">
            <div class="start-page__book-content">
                <div class="start-page__images">
                    <img src="content/img/book1.jpg" alt="">
                </div>
                <div class="start-page__book-description">
                    <div class="start-page__title-book">Name of the Book</div>
                    <div class="start-page__subtitle-book">subtitle</div>
                    <div class="start-page__description-approvals">
                        Video of virtual explanition about the website. It is a long established fact that a reader
                        will be distracted by the readable content of a page when looking at its layout.”
                    </div>
                </div>
            </div>
            <div class="start-page__book-content">
                <div class="start-page__images">
                    <img src="content/img/book3.jpg" alt="">
                </div>
                <div class="start-page__book-description">
                    <div class="start-page__title-book">Name of the Book</div>
                    <div class="start-page__subtitle-book">subtitle</div>
                    <div class="start-page__description-approvals">
                        Video of virtual explanition about the website. It is a long established fact that a reader
                        will be distracted by the readable content of a page when looking at its layout.”
                    </div>
                </div>
            </div>
            <div class="start-page__book-content">
                <div class="start-page__images">
                    <img src="content/img/book2.jpg" alt="">
                </div>

                <div class="start-page__book-description">
                    <div class="start-page__title-book">Name of the Book</div>
                    <div class="start-page__subtitle-book">subtitle</div>
                    <div class="start-page__description-approvals">
                        Video of virtual explanition about the website. It is a long established fact that a reader
                        will be distracted by the readable content of a page when looking at its layout.”
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer f-is-auth="true"></footer>
</div>