.start-page {
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  li {
    list-style-type: none;
  }
  iframe {
    height: 80vmin;
    width: 100%;
  }
  h1 {
    margin: 0;
  }
  &__video-image {
    width: 100%;
    height: auto;
  }
  &__right-side {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &--bottom {
      padding: 0 5%;
      margin-left: auto;
    }
    ul {
      margin-bottom: 0;
      display: flex;
      list-style-type: none;
      font-family: AssistantExtraBold;
      color: #ffffff;
      li {
        margin-right: 0px;
      }
    }
  }
  &__main-block {
    background: url(../../content/img/bg-main.jpg) center/cover no-repeat;
    height: 80vmin;
    position: relative;
  }
  &__register {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 250px;
    text-transform: uppercase;
    font-family: AssistantBold;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 10px;
  }
  &__store {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    width: 250px;
    text-transform: uppercase;
    font-family: AssistantBold;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  &__promo {
    text-align: center;
    height: 27vh;
    font-family: AssistantRegular;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    li {
      margin-bottom: 5px;
    }
  }
  &__buttons-promo {

    display: flex;
    position: absolute;
    left: 25%;
    top: 18%;
    align-items: flex-end;
    width: 73%;
    justify-content: space-between;
  }
  &__buttons-app {
    display: flex;
  }
  &__wave {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
  }
  &__content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  &__title {
    margin-top: 20px;
    color: #703a46;
    font-family: AnotherDayInParadise;
    font-size: 30px;
  }
  &__about {
    background-color: #fff;
    color: #8f6060;
    font-family: AssistantRegular;
    padding-bottom: 50px;
    .text {
      padding-right: 100px;
      width: 70%;
      margin-left: auto;
    }
    h1 {
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
    }
  }

  &__htc {
    position: absolute;
    width: 20%;
    z-index: 2;
  }
  &__google {
    position: absolute;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    top: 50%;
    width: 15%;
  }
  &__view {
    text-align: right;
    text-transform: uppercase;
    color: #4b0049;
    text-decoration: underline;
    font-family: AssistantBold;
  }
  &__finkel {
    padding-top: 90px;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: #e9e5df;
  }
  &__second-content {
    background-color: white;
    //line-height: 0;
  }
  &__finkel-image {
    max-width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 22px;
    margin-top: 30px;
  }
  &__authorization {
    align-items: center;
    font-family: AssistantRegular;
    display: flex;
    color: #4b0049;
    p {
      text-transform: uppercase;
    }
    i {
      margin: 0 10px 5px;
    }
  }
  &__button-login {
    margin: 0 15px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #4b0049;
  }
  &__lang {
    position: relative;
    &:after {
      top: 50%;
      left: 20px;
      position: absolute;
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #4b0049;
    }
  }

  &__approvals {
    font-family: AssistantLight;
    margin: 50px 0;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #fff;
    width: 100%;
    p {
      color: #8f6060;
      font-size: 40px;
    }
    &--bottom {
      width: 90%;
      margin: auto;
      text-align: justify;
      &:after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
  }
  &__approvals-information {
    color: #8f6060;
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }
  &__approvals-image {
    max-width: 18%;
    width: 100%;
    height: auto;
    border: 1px solid black;
  }
  &__approvals-content {
    width: 30%;
  }
  &__book-content {
    width: 30%;
    display: flex;
  }
  &__images {
    img {
      width: 100%;
      height: auto;

    }
  }
  &__book-description {
    margin-left: 20px;
  }
  &__title-approvals {
    margin-top: 20px;
    font-size: 24px;
    font-family: AssistantRegular;
  }
  &__title-book {
    margin-top: 0px;
    font-size: 24px;
    font-family: AssistantRegular;
  }
  &__subtitle-book {
    font-size: 20px;
    font-family: AssistantRegular;
  }
  &__description-approvals {
    text-align: justify;
    margin-top: 50px;
    font-family: ArimoItalic;
    font-size: 18px;
  }
  &__video {
    iframe {
      max-height: 300px;
    }
  }

  @media screen and(max-width: 1230px) {
    .start-page {
      &__images {
        img {
          height: 350px;
        }
      }
      &__book-content {
        display: block;
        text-align: center;
      }
      &__right-side {
        justify-content: flex-end;
        width: auto;
      }
    }
  }

  @media screen and(max-width: 1125px) {
    .start-page {
      &__buttons-promo {
        display: block;
        top: 20%;
      }
      &__promo {
        width: max-content;
        margin-top: 5px;
      }
      &__about {
        .text {
          padding: 0;
          margin: auto;
          width: 95%;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: 780px) {
    .start-page {
      &__buttons-promo {
        top: 35%;
      }
      &__title {
        text-align: center;
      }

      &__register {
        font-size: 14px;
        width: 150px;
        line-height: 30px;
      }
      &__store {
        font-size: 14px;
        width: 150px;
        line-height: 30px;
        img {
          width: 15%;
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    .start-page {
      &__approvals-image {
        width: 100%;
        height: auto;
      }
      &__images {
        img {
          height: auto;
        }
      }
      &__book-description {
        margin: 10px 0;
      }
      &__main-block {
        height: 100vmin;
      }
      &__promo {
        max-height: 80px;
      }
      &__description-approvals {
        margin-top: 15px;
      }
      &__book-content {
        width: 100%;
        margin-bottom: 35px;
      }
      .fa-bars {
        display: flex;
        align-self: center;
        color: #ffffff;
      }
      &__approvals-information {
        display: block;
      }
      &__approvals-content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .start-page {
      &__buttons-promo {
        top: 45%;
      }
      &__register {
        margin: 5px 0 0 0;
      }
      &__buttons-app {
        display: block;
        top: 55%;
      }
      &__title {
        font-size: 20px;
      }
    }
  }
}