<div class="start-page">
    <header></header>
    <div class="start-page__main-block">
        <div class="start-page__content">
            <div class="start-page__title">
                Love and honesty are the things that make a good wife and mother...
            </div>
        </div>
        <div class="start-page__content">
            <img class="start-page__htc" src="../content/img/htc1.png">
            <img class="start-page__google" src="../content/img/google.png">
        </div>
        <img class="start-page__wave" src="../content/img/wave.png">
    </div>
    <div class="start-page__about">
        <div class="text">
            <h1>Explanation about the app and website</h1>
            <p>
                Video of virtual explanition about the website. It is a long established fact that a reader will be
                distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                content here', making it look like readable English. Many desktop publishing packages and web page
                editors
                now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                sites
                still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
                on purpose (injected humour and the like).
            </p>
        </div>
    </div>
    <div class="start-page__second-content">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="start-page__finkel">
            <img class="start-page__finkel-image" src="../content/img/Finkel.png">
            <img class="start-page__wave" src="../content/img/wave.png">
        </div>
        <div class="start-page__approvals">
            <p>Approvals</p>

        </div>
        <div class="start-page__approvals-information">
            <div class="start-page__approvals-content">
                <div class="start-page__video">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
            </div>
            <div class="start-page__approvals-content">
                <div class="start-page__video">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
            </div>
            <div class="start-page__approvals-content">
                <div class="start-page__video">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/6v2L2UGZJAM"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </div>
                <div class="start-page__title-approvals">Name of the Rabbi</div>
                <div class="start-page__description-approvals">
                    Video of virtual explanition about the website. It is a long established fact that a reader
                    will be distracted by the readable content of a page when looking at its layout.”
                </div>
            </div>
        </div>
    </div>
    <div class="start-page__third-content">

        <div class="start-page__footer">
            <div class="start-page__right-side start-page__right-side--bottom ">
                <div class="row">
                    <div class="col-md-6 col-sm-0"></div>
                    <div class="col-md-3 col-sm-6 start-page__footer-menu">
                        <ul>
                            <li>info</li>
                        </ul>
                        <ul>
                            <li>help & support</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 start-page__footer-auth">
                        <div class="start-page__authorization">
                            <p>register</p>
                            <span class="start-page__button-login">login</span>
                            <p class="start-page__lang">en</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="start-page__down-footer">
                <div class="col-md-6 start-page__lg-icon">
                    <div class="start-page__social-icon">
                        <img src="../content/img/facebook.png">
                        <img src="../content/img/goog.png">
                        <img src="../content/img/inst.png">
                        <img src="../content/img/twitter.png">
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="start-page__down-footer-menu">
                        <ul>
                            <li>About us</li>
                            <li>Terms & Conditions</li>
                            <li>Privacy policy</li>
                        </ul>
                        <ul>
                            <li>Contact us</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 start-page__sm-icon">
                    <div class="start-page__social-icon">
                        <img src="../content/img/facebook.png">
                        <img src="../content/img/goog.png">
                        <img src="../content/img/inst.png">
                        <img src="../content/img/twitter.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>