<div class="start-page">
    <div class="start-page__main-block">
        <header></header>
        <div class="start-page__content">
            <div class="start-page__title">
                <span class="start-page__quote">(</span>{{ "CONTENT.SECOND_TITLE_LANDING" | translate }} <span
                    class="start-page__quote">{{ "CONTENT.CONTINUED_TRANSLATION" | translate }}</span>
            </div>
        </div>
        <div class="start-page__content">
            <img class="start-page__htc" src="content/img/htc1.png">
            <div class="start-page__buttons-promo">
                <div class="start-page__buttons-app">
                    <div class="start-page__store">
                        <img src="content/img/download-button.png">
                        <p>{{ 'CONTENT.DOWNLOAD_APP' | translate }}</p>
                    </div>
                    <div class="start-page__register" ng-click="vm.signUp()">{{ 'CONTENT.REGISTER' | translate }}</div>
                </div>
                <cycle-scroll-block csb-model="{{ vm.promoModel }}"></cycle-scroll-block>
            </div>
        </div>
        <img class="start-page__wave" src="content/img/wave.png">
    </div>
    <div class="start-page__about">
        <div class="text" auto-dir>
            <h1>{{ 'CONTENT.ABOUT_SITE_TITLE' | translate}}</h1>
            <p>
                {{ 'CONTENT.ABOUT_SITE_DESCRIPTION' | translate }}
            </p>
            <p class="start-page__propose">
                {{ 'CONTENT.TITLE_PROPOSE' | translate }}
            </p>
        </div>
    </div>
    <div class="start-page__second-content">
        <!--<iframe width="1280" src="https://www.youtube.com/embed/6v2L2UGZJAM"-->
        <!--frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
        <div class="text-center">
            <img class="start-page__video-image" src="content/img/img-video.jpg" alt="">
        </div>
        <div class="start-page__finkel">
            <!--<img class="start-page__finkel-image" src="content/img/Finkel.png">-->
            <img class="start-page__wave" src="content/img/wave.png">
        </div>
        <div class="start-page__approvals">
            <p>{{ 'CONTENT.APPROVAL' | translate }}</p>
        </div>
        <div class="start-page__approvals--bottom">
            <img class="start-page__approvals-image"
                 ng-repeat="img in vm.imgs"
                 ng-src="{{img}}"
                 ng-click="vm.viewImg(img)">

        </div>
        <div class="start-page__approvals">
            <p>{{ 'CONTENT.BOOKS' | translate }}</p>
        </div>
        <div class="start-page__approvals-information">
            <div class="start-page__book-content" ng-repeat="item in vm.books">
                <div class="start-page__images">
                    <img ng-src="{{item.image}}" alt="img">
                </div>
                <div class="start-page__book-description" auto-dir>
                    <div class="start-page__title-book">{{ vm.getTitle(item) }}</div>
                    <div class="start-page__subtitle-book">{{ vm.getSubtitle(item) }}</div>
                    <div class="start-page__description-approvals">
                        {{ vm.getDescription(item) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer f-is-auth="true"></footer>
</div>