.main-header {
  .md-select-value .md-select-icon {
    text-align: start;
  }
  md-input-container {
    margin: 0;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: -11px;
    font-family: AssistantExtraBold;
    color: #ffffff;
    li {
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      margin-right: 25px;
      font-size: 16px;
      cursor: pointer;
      a {
        color: inherit;
      }
    }
  }

  padding-top: 9px;
  p {
    margin: 0;
  }
  //.fa-bars {
  //  display: none;
  //}
  &__auth-menu {
    width: 60%;
    &--active {
      color: #4b0049;
    }
  }

  &__menu {
    border: 1px solid white;
    margin-top: 13px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  &__content {
    align-items: center;
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-left: 73px;
    cursor: pointer;
    font-size: 25px;
    font-family: AssistantExtraBold;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    img {
      position: absolute;
      transform: scale(-1, 1);
      height: 59px;
    }
    p {
      margin-left: 71px;
    }
  }
  &__right-side {
    width: 44%;
    justify-content: space-between;
    display: flex;
    //align-items: center;
    text-transform: uppercase;
    &--bottom {
      padding: 0 5%;
      margin-left: auto;
    }

  }
  &__authorization {
    align-items: center;
    font-family: AssistantRegular;
    display: flex;
    color: #4b0049;
    margin-top: -6px;
    text-transform: uppercase;
    &--user {
      text-transform: initial;
    }

    i {
      margin: 0 10px;
    }
  }
  &__button-login {
    margin: 0 15px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #4b0049;
  }
  &__lang {
    color: #4b0049;
    position: relative;
    .md-select-value {
      border-bottom: none;
      border-bottom-color: transparent;
    }
  }

}

@media screen and(max-width: 1230px) {
  .main-header {
    &__right-side {
      width: auto;
    }
  }
}

@media screen and(max-width: 1125px) {
  .main-header {
    &__about {
      .text {
        margin: auto;
        width: 95%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main-header {
    &__right-side {
      display: none;
    }
    &__auth-menu {
      display: none;
    }
    &__authorization {
      display: none;
    }
  }
}

@media screen and (max-width: 870px) {
  .main-header {
    &__logo {
      margin-left: 10px;
    }
    &__approvals-information {
      display: block;
    }
    &__approvals-content {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 410px) {
  .main-header {
    &__title {
      font-size: 20px;
    }
  }
}

