<div class="main-header">
    <div class="main-header__menu">
        <div class="main-header__content">
            <div class="main-header__logo" ui-sref="app.start-page">
                <img src="content/img/logo.png">
                <p dir="rtl">מחשבון טהרה</p>
            </div>
            <div class="main-header__auth-menu" ng-show="vm.isAuth()">
                <ul>
                    <li ng-repeat="item in vm.menu.full | orderBy:'id'"
                        ui-sref-active="main-header__auth-menu--active"
                        ui-sref="{{item.view}}">{{ item.trans | translate }}
                    </li>
                </ul>
            </div>
            <div class="main-header__authorization" ng-show="vm.isAuth()">
                <p class="main-header__authorization--user cursor-pointer" ui-sref="app.main.profile">
                    Hi! {{vm.user().first_name + ' ' + vm.user().last_name}}
                </p>
                <i class="fa fa-user"></i>
                <p class="main-header__lang">
                    <md-input-container>
                        <md-select ng-model="vm.currentLang">
                            <md-option ng-repeat="item in vm.allLang"
                                       ng-value="item"
                                       ng-click="vm.setLang(item)">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </p>
            </div>
            <div class="main-header__right-side main-header" ng-show="!vm.isAuth()">
                <ul>
                    <li ng-repeat="item in vm.menu.simple | orderBy:'id'"
                        ui-sref-active="main-header__auth-menu--active"
                        ui-sref="{{item.view}}">{{ item.trans | translate }}
                    </li>
                </ul>
                <div class="main-header__authorization">
                    <p class="cursor-pointer" ng-click="vm.signUp()">{{ 'CONTENT.REGISTER' | translate }}</p>
                    <span class="main-header__button-login cursor-pointer"
                          ng-click="vm.login()">{{ 'CONTENT.LOGIN' | translate }}</span>
                    <p class="main-header__lang">
                        <md-input-container>
                            <md-select ng-model="vm.currentLang">
                                <md-option ng-repeat="item in vm.allLang"
                                           ng-value="item"
                                           ng-click="vm.setLang(item)">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </p>
                </div>
            </div>
            <i class="fas fa-bars fa-lg"></i>
        </div>
    </div>
</div>

