.main-header {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: AssistantExtraBold;
    color: #ffffff;
    li {
      text-transform: uppercase;
      margin-right: 15px;
      cursor: pointer;
    }
  }
  padding-top: 10px;
  p {
    margin: 0;
  }
  .fa-bars {
    display: none;
  }
  &__auth-menu {
    width: 60%;
  }
  &__menu {
    border: 1px solid white;
    margin-top: 20px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  &__content {
    align-items: center;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-size: 25px;
    font-family: AssistantExtraBold;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    img {
      position: absolute;
      transform: scale(-1, 1);
      height: 50px;
    }
    p {
      margin-left: 60px;
    }
  }
  &__right-side {
    width: 40%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &--bottom {
      padding: 0 5%;
      margin-left: auto;
    }

  }
  &__authorization {
    align-items: center;
    font-family: AssistantRegular;
    display: flex;
    color: #4b0049;
    p {
      text-transform: uppercase;
    }
    i {
      margin: 0 10px 5px;
    }
  }
  &__button-login {
    margin: 0 15px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #4b0049;
  }
  &__lang {
    position: relative;
    &:after {
      top: 50%;
      left: 20px;
      position: absolute;
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #4b0049;
    }
  }
}

@media screen and(max-width: 1230px) {
  .main-header {
    &__right-side {
      width: auto;
    }
  }
}

@media screen and(max-width: 1125px) {
  .main-header {
    &__about {
      .text {
        margin: auto;
        width: 95%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main-header {
    &__right-side {
      display: none;
    }
    &__auth-menu {
      display: none;
    }
    &__authorization {
      display: none;
    }
    .fa-bars {
      display: flex;
      align-self: center;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 870px) {
  .main-header {

    &__approvals-information {
      display: block;
    }
    &__approvals-content {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 410px) {
  .main-header {
    &__title {
      font-size: 20px;
    }
  }
}

