<div class="profile">
    <div class="contain">
        <div class="profile__contact-content">
            <div class="profile__main-form" auto-dir>
                <div class="profile__left-side">
                    <profile-data pd-options="vm.pdOptions"></profile-data>
                </div>
                <div class="profile__right-side">
                    <relig-setting rs-options="vm.rsOptions"></relig-setting>
                </div>
            </div>
            <div class=" profile__button-contain">
                <!--<button class="button-default" ng-click="vm.update()">-->
                    <!--{{ 'CONTENT.SAVE'|translate }}-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>