<div>
    <p class="profile__title">Choose halakhic methods</p>
    <md-radio-group ng-model="data.group1">

        <md-radio-button value="Yosef"> Sephardic according to Rabbi Yosef</md-radio-button>
        <md-radio-button value="Eliyahu">Sephardic according to Rabbi Mordecai Eliyahu</md-radio-button>
        <md-radio-button value="Ashkenazi">אשכנזי לפי פוסקי אשכנז</md-radio-button>

    </md-radio-group>
    <div dir="rtl" class="profile__select-button" ng-click="vm.showSettings = !vm.showSettings"
         layout="row"
         layout-align="space-between">
        <div>
            <md-icon md-font-icon="fa"
                     ng-class="{ 'fa-chevron-down': vm.showSettings,
                                                 'fa-chevron-right': !vm.showSettings }"
                     aria-hidden="true"></md-icon>
        </div>
        <div class="profile__select">
            <span>Or zarua</span>
        </div>
    </div>
    <div layout="column" layout-align="center" class="profile__mark-content">
        <div ng-if="vm.showSettings" class="profile__only-check-mark">
            <md-checkbox ng-model="vm.user_settings.monthly_cycle" aria-label="Checkbox 1">
                <span>Veset Hahodesh</span>
            </md-checkbox>
        </div>
        <div class="profile__only-check-mark" ng-if="vm.showSettings">
            <md-checkbox ng-model="vm.user_settings.interval_cycle" aria-label="Checkbox 1">
                <span>Veset Haflaga</span>
            </md-checkbox>
        </div>
        <div ng-if="vm.showSettings" class="profile__only-check-mark">
            <md-checkbox ng-model="vm.user_settings.average_cycle" aria-label="Checkbox 1">
                <span>Ona binonit</span>
            </md-checkbox>
        </div>
        <div class="profile__checked">
            <md-checkbox ng-model="vm.user_settings.le_horma" aria-label="Checkbox 1">
                <p>Onah Benonit 24 Hours</p>
                <p>According to Rabbi Mordechai Eliyahu</p>
            </md-checkbox>
        </div>
    </div>
</div>