.profile {
  &__main-form {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  md-input-container {
    margin: 0;
  }
  md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #a57fa4;
  }
  md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    background-color: #fff;
  }
  md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #4b0049
  }
  md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #4b0049;
  }
  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: #4b0049;
  }
  &__checked {
    p {
      margin: 0;
    }
  }
  md-icon[md-font-icon] {
    border-radius: 2px;
    background-color: #b799b6;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .fa-chevron-down:before {
    color: #ffffff;
  }
  &__select-button {
    height: 50px;
    width: 95%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  }
  &__select {
    font-family: ArimoRegular;
    font-size: 16px;
    color: #9e9e9e;
    display: flex;
    align-items: center;
    margin-right: 50px;
    span {
      margin-left: 20px;
    }
  }
  .fa-chevron-right:before {
    color: #ffffff;
  }
  &__mark-content {
    margin: 20px auto;
  }
  &__only-check-mark {
    md-checkbox:not(.md-checked) .md-icon {
      border-color: transparent;
    }
    .md-checked {
      .md-container {
        .md-icon {
          background-color: transparent;
          &:after {
            border-width: 3px;
            top: -6px;
            width: 10.66667px;
            height: 20.33333px;
            border-color: #4b0049;
          }
        }
      }
    }
  }
  input {
    color: #000000;
    font-size: 16px;
    caret-color: #4b0049;
  }
  margin-top: 20px;
  font-family: AssistantRegular;
  &__left-side {
    text-align: right;
    width: 30%;
  }
  &__right-side {
    font-family: ArimoRegular;
  }
  &__title {
    color: #4b0049;
    font-family: AssistantSemiBold;
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__send {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    background-color: #4b0049;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 15px;
    margin-left: auto;
    font-size: 18px;
  }
  &__button-contain {
    margin-top: 10px;
    width: 36%;
    text-align: right;
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    &__button-contain {
      width: 100%;
      text-align: center;
    }
    &__main-form {
      width: 100%;
      display: block;
    }
    &__left-side {
      text-align: center;
      width: 100%;
    }
    &__right-side {
      width: 100%;
    }
  }
}