<div class="profile">
    <div class="contain">
        <div class="profile__contact-content">
            <div class="profile__main-form">
                <div ng-include="'templates/profile/profile-user.html'" class="profile__left-side"></div>
                <div ng-include="'templates/profile/profile-halakhic.html'" class="profile__right-side"></div>
            </div>
            <div class=" profile__button-contain">
                <button class="button-default">save</button>
            </div>
        </div>
    </div>
</div>