<div class="profile">
    <div class="contain">
        <div class="profile__contact-content">
            <div class="profile__main-form">
                <div class="profile__left-side">
                    <profile-data></profile-data>
                </div>
                <div class="profile__right-side">
                    <relig-setting></relig-setting>
                </div>
            </div>
            <div class=" profile__button-contain">
                <button class="button-default" ng-click="vm.save()">
                    {{'CONTENT.SAVE'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>