.upgrade-full {

  &__propose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 20px;
    p {
      margin-right: 10px;
    }
  }

  &__button {
    font-size: 18px;
    background-color: #4b0049;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 15px;
    padding: 5px 20px;
  }

  a {
    &:hover {
      color: #ffffff;
    }
  }
}