<div class="my-main">
    <div class="my-main__base">
        <div class="my-main__background">
            <header></header>
            <div class="row my-main__contain">
                <div class="col-md-4 my-main__start-day">
                    <div class="my-main__menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 my-main__elements">
                            </div>
                            <div class="col-md-6 col-sm-6 my-main__elements">
                            </div>
                        </div>
                    </div>
                    <info-block ib-text="{{ (vm.text.title) || ('CONTENT.START_PREGNANCY' |translate) }}"
                                ib-sub-text="{{ (vm.text.subtitle) || ('CONTENT.TVILA_NIGHT' |translate) }}"
                                ib-type="default"
                                ib-is-edit="!!vm.dateBirthday.start"
                                ib-date=""></info-block>
                    <button class="delete-button" ng-if="!!vm.dateBirthday.start"
                            ng-click="vm.remove()">
                            Delete gestation
                        <img src="content/img/icon/close-icon.png" alt="delete last event"/>
                    </button>
                </div>

                <div class="col-md-4">
                    <calendar-custom class="my-main__main-calendar"
                                     cc-type="detailed"
                                     cc-selected="selectedModel"
                                     cc-updated-model="vm.updateModel"
                                     cc-update-selected="vm.updateSelected"
                                     cc-is-select-time="vm.isSelectTime"></calendar-custom>
                    <div class="my-main__content--sm">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="my-main__menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 my-main__elements">
                            </div>
                            <div class="col-md-6 col-sm-6 my-main__elements">
                            </div>
                        </div>
                    </div>
                    <info-block
                            ib-type="pregnancy"
                            ib-date="{{ vm.dateBirthday.end }}"></info-block>
                </div>
            </div>
            <img class="my-main__wave" src="content/img/wave.png">
        </div>
        <div class="my-main__content">
        </div>
    </div>
    <footer></footer>
</div>
