@import "../scss/_vars";
@import "../scss/styles";

//templates styles
@import "../templates/app/app";
@import "../templates/terms/terms";
@import "../templates/start-page/start-page";
@import "../templates/main/main";
@import "../templates/about/about";
@import "../templates/contact-us/contact-us";
@import "../templates/mikvahs/mikvahs";
@import "../templates/tradition/tradition";
@import "../templates/my-main/my-main";

//directive style
@import '../directives/header/header';
@import '../directives/footer/footer';
@import '../directives/calendar/calendar';
@import '../directives/legend/legend';
@import '../directives/tradition-item/tradition-item';
@import '../directives/info-block/info-block';
@import '../directives/pill/pill';
@import '../directives/notification/notification';
@import '../directives/history/history';

//components styles
@import "../components/forgot-pass/forgot-pass";
@import "../components/login/login";
@import "../components/new-pass/new-pass";
@import "../components/set-code/set-code";
@import "../components/set-phone/set-phone";
@import "../components/signup/signup";
@import "../components/welcome/welcome";
@import "../components/confirm/confirm";
