@charset "utf-8";
/* CSS Document */

/*==========================================

					Fonts

=============================================*/
@font-face {
  font-family: 'AssistantExtraBold';
  src: url("../fonts/AssistantExtraBold.ttf");
}

@font-face {
  font-family: 'AssistantRegular';
  src: url("../fonts/AssistantRegular.ttf");
}

@font-face {
  font-family: 'AnotherDayInParadise';
  src: url("../fonts/AnotherDayInParadise.ttf");
}

@font-face {
  font-family: 'ArimoItalic';
  src: url("../fonts/ArimoItalic.ttf");
}

@font-face {
  font-family: 'AssistantBold';
  src: url("../fonts/AssistantBold.ttf");
}

@font-face {
  font-family: 'AssistantLight';
  src: url("../fonts/AssistantLight.ttf");
}

@font-face {
  font-family: 'ArimoBold';
  src: url("../fonts/ArimoBold.ttf");
}

@font-face {
  font-family: 'ArimoRegular';
  src: url("../fonts/ArimoRegular.ttf");
}

@font-face {
  font-family: 'AssistantSemiBold';
  src: url("../fonts/AssistantSemiBold.ttf");
}

@font-face {
  //font-family: 'ralewaybold';
  //src: url('../fonts/raleway-bold-webfont.eot');
  //src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold-webfont.woff2') format('woff2'), url('../fonts/raleway-bold-webfont.woff') format('woff'), url('../fonts/raleway-bold-webfont.ttf') format('truetype'), url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  //font-weight: normal;
  //font-style: normal;
}

@font-face {
  //font-family: 'ralewayregular';
  //src: url('../fonts/raleway-regular-webfont.eot');
  //src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype'), url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  //font-weight: normal;
  //font-style: normal;
}

@font-face {
  //font-family: 'ralewaysemibold';
  //src: url('../fonts/raleway-semibold-webfont.eot');
  //src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway-semibold-webfont.woff') format('woff'), url('../fonts/raleway-semibold-webfont.ttf') format('truetype'), url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  //font-weight: normal;
  //font-style: normal;
}

/*==========================================

					Custom CSS

=============================================*/
* {
  box-sizing: border-box;
}

html, body {
  position: fixed;
  min-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  overflow: auto;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: transparent;
  color: #4b0049;
}

md-select.md-default-theme .md-select-icon, md-select .md-select-icon {
  color: #4b0049;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.no-mr-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-pd-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-mr-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-pd-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.inline-type {
  display: inline-block;
}

.pull-left, .pull-right {
  width: auto;
}

.glyphicon {
  padding: 10px 0;
  font-size: 22px;
  outline: none;
}

a, a:focus {
  outline: none;
  border: none;
}

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}
.modal-footer {
  border-top: 0;
  text-align: center;
  padding: 10px 15px 20px;
}
.modal-header {
  padding: 20px;
  border-bottom: 0;
}
.modal-title {
  font-family: AssistantSemiBold;
  color: #4b0049;
  font-size: 18px;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-content {
  border-radius: 0;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #a57fa4;
}
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 1100 !important;
}

.custom-backdrop.modal-backdrop.fade {
  opacity: 0.3;
}

.container {
  width: 100% !important;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.button-default {
  background-color: #4b0049;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 15px;
  border: 0;
}


.button-not-default {
  background-color: #fff;
  color: #4b0049;
  padding: 5px 15px;
  border: 1px solid #4b0049;
}

.contain {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.title-page {
  color: #c697a2;
  font-size: 30px;
  font-family: AnotherDayInParadise;
}

.default-container {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 30px;
  border: 1px solid #c8ced3;
  min-height: 100%;
  input[type=search] {
    margin-bottom: 30px;
  }
  .form-block {
    display: flex;
    button.btn.btn-success, button.btn.btn-danger {
      margin: 4px 5px;
      padding: 0 10px;
      height: 35px;
    }
  }
  .form-control {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
      margin: 0;
    }
  ;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav > li > a {
  font-size: 16px;
}

.default-header {
  font-size: 18px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.table-responsive {
  width: 100%;
  .table {
    th, td {
      text-align: center;
    }
    .btn-td {
      padding: 0;
    }
  }
  .detail {
    td {
      text-align: left;
    }
    td:first-child {
      width: 200px;
      font-weight: bold;
    }
  }
}

.user-avatar {
  width: 80px;
  height: 80px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media screen and(max-width: 500px) {
  .contain {
    justify-content: flex-start;
  }
}
