.notification {
  border-top: 1px solid #ffffff;
  font-family: AssistantRegular;
  font-size: 16px;
  background-color: rgba(236, 222, 218, 0.8);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  md-switch {
    margin: 0;
  }
  md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: #9b6b90;
  }
  md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: #4b0049;
  }
  &__settings {
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  &__desc {
    color: #9e9592;
  }
  &__name {
    color: #2f2d2c;
  }
  &__content {
    text-align: center;
    width: 76%;
    margin: 15px auto;
  }
  md-input-container{
    margin: 10px 0;
  }
  &__write-settings{
    display: flex;
    align-items: center;
    p{
      margin: 0;
    }
    input{
      width: 80px;
    }
  }
}

@media screen and(max-width: 992px) {
  .notification {
    height: auto;
    position: relative;
  }
}


