<div class="notification">
    <div class="notification__content">
        <div class="notification__settings" ng-repeat="item in  vm.pushSettings track by $index">
            <div class="notification__name-desc">
                <p class="notification__name">{{ vm.TEXT_NOTIF[+item.notification_id].title | translate }}</p>
                <p class="notification__desc">{{ vm.TEXT_NOTIF[+item.notification_id].descr | translate }}</p>
            </div>
            <md-switch ng-model="item.status"></md-switch>
        </div>
        <button class="notification__button button-default" ng-click="vm.save()">
            {{'CONTENT.SAVE'|translate}}
        </button>
    </div>
</div>

