<div class="modal-header">
    <p class="modal-title" id="modal-title">Enter the code, that you get by SMS</p>
</div>
<div class="modal-body" id="modal-body">
    <form name="vm.addCodeForm" novalidate>
        <md-input-container md-no-float class="md-block" flex>
            <input ng-model="vm.code"
                   minlength="4"
                   maxlength="4"
                   type="number"
                   id="code"
                   name="code"
                   placeholder="{{ 'CONTENT.CODE'|translate}}"
                   aria-label="code">
        </md-input-container>
    </form>
    <div class="modal-text">
        <p class="modal-help">Didn't get?</p>
        <div>
            <span>send again</span>
            or
            <span>change phone number</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="button-default" ng-click="vm.next()">{{'next'}}</button>
    <button class="button-not-default" ng-click="vm.cancel()">{{ 'cancel'}}</button>
</div>