.notification-item {
  margin-bottom: 10px;
  &__settings {
    margin-bottom: 18px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }

  md-input-container {
    margin: 0;
    padding: 0;
  }

  &__desc {
    color: #9e9592;
  }
  &__name {
    margin: 0;
    color: #2f2d2c;
  }

  &__write-settings {
    display: flex;
    align-items: flex-end;
    p {
      margin: 0;
    }
    input {
      text-align: center;
      width: 80px;
    }
  }

  md-switch {
    margin: 0;
  }

  md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: #9b6b90;
  }

  md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: #4b0049;
  }
}


