<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{'CONTENT.PAYMENT_TITLE'|translate}}
    </h3>
    <!--<p class="payment-notice">{{'CONTENT.PAYMENT_SUBTITLE'|translate}}</p>-->
    <h1 class="payment-subtitle">{{'CONTENT.PAYMENT_NOTICE'|translate}}</h1>
</div>

<div class="modal-body text-center" id="modal-body">
    <div class="payment-left">
        <p class="payment-propose">{{'CONTENT.PAYMENT_PROPOSE'|translate}}</p>
        <img src="../../content/img/notebook.png">
        <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
        <img src="../../content/img/popup-phone.png" class="payment-phone">
    </div>
    <div class="payment-right">
        <div class="payment-price">
            <div class="payment-circle">
                <p>{{'CONTENT.PAYMENT_SUBSCRIPTION'|translate}}</p>
                <h1>{{'CONTENT.CURRENCY'|translate}}<span dir="ltr">{{'CONTENT.FIRST_PRICE'|translate}}</span></h1>
                <h3>{{'CONTENT.CURRENCY'|translate}}<span dir="ltr">{{'CONTENT.SECOND_PRICE'|translate}}</span></h3>
                <p>{{'CONTENT.PAYMENT_PRICE'|translate}}</p>
            </div>
            <div class="payment-down">
                <div class="payment-policy" auto-dir>
                    <md-checkbox ng-model="vm.data.license_agreement" required></md-checkbox>
                    <p>{{'CONTENT.I_CONFIRM'|translate}} </p>
                    <a ui-sref="app.main.terms" target="_blank">{{'CONTENT.TERMS_AND_POLICY'|translate}}</a>
                </div>
                <div class="payment-button">
                    <a ng-href="{{ vm.data.license_agreement ? vm.data.payLink: '' }}"
                       class="button-default default-button-popup">{{'CONTENT.PAYMENT_BUTTON'|translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">

</div>