<div class="tradition">
    <div class="contain">
        <p class="tradition__title">
            Title about traditions
        </p>
        <p class="tradition_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur
            culpa cumque delectus deserunt
            dolor dolore doloremque dolores ea eius error expedita explicabo hic incidunt itaque laborum laudantium
            magnam magni nemo optio quae quasi quisquam quo quod ratione saepe, sapiente similique sunt suscipit tenetur
            vel veritatis vitae, voluptates. Architecto asperiores consectetur corporis cumque cupiditate debitis
            dignissimos dolores doloribus earum enim eos expedita facere id modi molestias nam nobis numquam
            perferendis, placeat quae, quas quia quidem quo ratione sed tempora totam vel. Aliquam consequuntur
            doloremque ducimus eius, fuga fugit illo impedit, nisi non, nostrum officiis optio placeat praesentium
            tempora voluptatibus! Corporis distinctio esse minus placeat quam? Accusamus alias aliquam aperiam
            aspernatur commodi consequuntur doloremque doloribus dolorum enim esse eum ex expedita fugiat fugit ipsam
            iusto laudantium nemo neque nulla obcaecati omnis quam quidem quisquam quod, sit totam veniam voluptatibus.
            Aliquam architecto, assumenda at debitis dignissimos est eveniet, expedita, hic laudantium magni minus
            molestiae molestias mollitia nostrum placeat praesentium quia quibusdam saepe sunt tempore tenetur voluptate
            voluptatibus? Aliquid aspernatur debitis ducimus esse exercitationem expedita harum in ipsam magni molestiae
            perferendis quaerat qui quidem recusandae, sed sequi sit voluptate voluptatum! Consequatur, eum facere fuga
            iusto maxime quia sint tenetur vitae? Accusamus distinctio ex fugiat inventore labore maiores minus nesciunt
            nobis officia pariatur provident quae quasi quos rerum sed sint suscipit, tenetur! Aliquam commodi,
            distinctio esse ex expedita fugiat, hic illum ipsa nisi numquam pariatur provident quisquam ratione
            sapiente, tempora tempore vel veritatis! Aliquam aliquid amet assumenda beatae consequuntur dolor doloremque
            eius est, ex exercitationem expedita hic iure iusto laborum laudantium, libero nam nisi nostrum optio
            perferendis porro quas quis repellendus temporibus vel veniam veritatis.
        </p>

        <p class="tradition__title">
            Title about traditions
        </p>
        <p class="tradition_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur
            culpa cumque delectus deserunt
            dolor dolore doloremque dolores ea eius error expedita explicabo hic incidunt itaque laborum laudantium
            magnam magni nemo optio quae quasi quisquam quo quod ratione saepe, sapiente similique sunt suscipit tenetur
            vel veritatis vitae, voluptates. Architecto asperiores consectetur corporis cumque cupiditate debitis
            dignissimos dolores doloribus earum enim eos expedita facere id modi molestias nam nobis numquam
            perferendis, placeat quae, quas quia quidem quo ratione sed tempora totam vel. Aliquam consequuntur
            doloremque ducimus eius, fuga fugit illo impedit, nisi non, nostrum officiis optio placeat praesentium
            tempora voluptatibus! Corporis distinctio esse minus placeat quam? Accusamus alias aliquam aperiam
            aspernatur commodi consequuntur doloremque doloribus dolorum enim esse eum ex expedita fugiat fugit ipsam
            iusto laudantium nemo neque nulla obcaecati omnis quam quidem quisquam quod, sit totam veniam voluptatibus.
            Aliquam architecto, assumenda at debitis dignissimos est eveniet, expedita, hic laudantium magni minus
            molestiae molestias mollitia nostrum placeat praesentium quia quibusdam saepe sunt tempore tenetur voluptate
            voluptatibus? Aliquid aspernatur debitis ducimus esse exercitationem expedita harum in ipsam magni molestiae
            perferendis quaerat qui quidem recusandae, sed sequi sit voluptate voluptatum! Consequatur, eum facere fuga
            iusto maxime quia sint tenetur vitae? Accusamus distinctio ex fugiat inventore labore maiores minus nesciunt
            nobis officia pariatur provident quae quasi quos rerum sed sint suscipit, tenetur! Aliquam commodi,
            distinctio esse ex expedita fugiat, hic illum ipsa nisi numquam pariatur provident quisquam ratione
            sapiente, tempora tempore vel veritatis! Aliquam aliquid amet assumenda beatae consequuntur dolor doloremque
            eius est, ex exercitationem expedita hic iure iusto laborum laudantium, libero nam nisi nostrum optio
            perferendis porro quas quis repellendus temporibus vel veniam veritatis.
        </p>

        <p class="tradition__title">
            Title about traditions
        </p>
        <p class="tradition_description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur
            culpa cumque delectus deserunt
            dolor dolore doloremque dolores ea eius error expedita explicabo hic incidunt itaque laborum laudantium
            magnam magni nemo optio quae quasi quisquam quo quod ratione saepe, sapiente similique sunt suscipit tenetur
            vel veritatis vitae, voluptates. Architecto asperiores consectetur corporis cumque cupiditate debitis
            dignissimos dolores doloribus earum enim eos expedita facere id modi molestias nam nobis numquam
            perferendis, placeat quae, quas quia quidem quo ratione sed tempora totam vel. Aliquam consequuntur
            doloremque ducimus eius, fuga fugit illo impedit, nisi non, nostrum officiis optio placeat praesentium
            tempora voluptatibus! Corporis distinctio esse minus placeat quam? Accusamus alias aliquam aperiam
            aspernatur commodi consequuntur doloremque doloribus dolorum enim esse eum ex expedita fugiat fugit ipsam
            iusto laudantium nemo neque nulla obcaecati omnis quam quidem quisquam quod, sit totam veniam voluptatibus.
            Aliquam architecto, assumenda at debitis dignissimos est eveniet, expedita, hic laudantium magni minus
            molestiae molestias mollitia nostrum placeat praesentium quia quibusdam saepe sunt tempore tenetur voluptate
            voluptatibus? Aliquid aspernatur debitis ducimus esse exercitationem expedita harum in ipsam magni molestiae
            perferendis quaerat qui quidem recusandae, sed sequi sit voluptate voluptatum! Consequatur, eum facere fuga
            iusto maxime quia sint tenetur vitae? Accusamus distinctio ex fugiat inventore labore maiores minus nesciunt
            nobis officia pariatur provident quae quasi quos rerum sed sint suscipit, tenetur! Aliquam commodi,
            distinctio esse ex expedita fugiat, hic illum ipsa nisi numquam pariatur provident quisquam ratione
            sapiente, tempora tempore vel veritatis! Aliquam aliquid amet assumenda beatae consequuntur dolor doloremque
            eius est, ex exercitationem expedita hic iure iusto laborum laudantium, libero nam nisi nostrum optio
            perferendis porro quas quis repellendus temporibus vel veniam veritatis.
        </p>
    </div>
</div>