.calendar-custom {
  position: relative;
  z-index: 11;
  .col-flex {
    font-weight: bold;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
  }

  .col-80-flex {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-10-flex {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 10%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #4b0049;
  }

  .col-flex {
    margin: 0 2px 2px 2px;
  }
  &__header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #fcf0f3;
  }

  &__delete-event {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    img {
      vertical-align: bottom;
    }
  }

  &__days.row {
    //padding: 10px 0;
    div {
      text-align: center;
    }
  }

  &__body {
    width: 90%;
    margin: 50px auto 0;
  }

  &__prev, &__next {
    text-align: center;
    i {
      color: #401157;
      display: inline-block;
      font-size: 16px;
      width: 30px;
      height: 30px;
      border: 1px solid #401157;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
    }
  }



  &__day {
    font-size: 13px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      width: 48%;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      img {
        max-height: 18px;
      }
    }
  }

  &__day-g {
    color: #A9D2D8;
    font-weight: bold;
    font-size: 14px;
  }

  &__day-he {
    height: 50%;
    color: #966994;
    font-weight: bold;
    font-size: 14px;
  }

  &__title {
    font-weight: bold;
    font-family: ArimoRegular;
    color: #401157;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__week {
    margin-bottom: 2px;
  }

  &__item {
    position: relative;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-content {
      position: relative;
    }
    &:focus{
        outline: 3px solid #4b0049;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      border: 4px solid transparent;
    }
    &--current-month {
      background-color: #fff;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    &--current-day {
      -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 3px 4px rgba(0, 0, 0, 0.13);
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 3px 4px rgba(0, 0, 0, 0.13);
    }
    &--clean_day {
      border-bottom: 3px solid #8EDBE4;
    }
    &--pill_day {
      border-top: 3px solid #856893;
    }
    &--wave-day:after {
      border: 4px solid #8EDBE4;
    }
    &--prediction:after {
      border: 4px solid #E3587E;
    }
    &--end-red:after {
      border: 4px solid #FDB7C5;
    }
    &--marked {
      background: #3b7ff3;
      color: #fff;
    }
  }
}
