<div class="info-block">
    <div ng-if="ibType === 'default'"
         class="info-block__circle-day"
         ng-class="{'info-block__circle-day--is-edit': ibIsEdit }">
        <p class="info-block__default-text">{{ ibText }}</p>
        <p class="info-block__text-bold"
           ng-class="{'info-block__text-bold--is-edit':ibIsEdit}"
           ng-if="ibSubText">{{ ibSubText }}</p>
        <img class="info-block__edit" src="content/img/edit-pencil.png" ng-if="ibIsEdit">
    </div>
    <!---------------------------------------------------->
    <div ng-if="ibType === 'pregnancy'" class="info-block__pregnant">
        <img src="content/img/preg.png">
        <div class="info-block__birth">The expected day of birth</div>
        <div class="info-block__date"> {{ ibDate }} </div>
    </div>

</div>

