.info-block {
  color: #e4587f;
  margin-top: 70px;

  &__circle-day {
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--is-edit {
      color: #51c4d4;
    }
  }
  &__edit {
    margin-top: 20px;
  }
  }
  &__date {
    position: relative;
    height: 25px;
    font-size: 20px;
    &:after {
      height: 2px;
      width: 50%;
      position: absolute;
      content: '';
      background-color: #e4587f;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:empty{
      background: red;
      padding: 3px;
      margin-left: 7px;
      display: inline-block;
    }
  }
  &__default-text {
    font-family: AssistantRegular;
    font-size: 20px;
    width: 65%;
    margin: 0 auto;
  }
  &__birth {
    color: #32004b;
    font-family: ArimoRegular;
    font-size: 20px;
  }
  &__pregnant {
    text-align: center;
    position: relative;
    z-index: 2;
    img {
      width: 200px;
    }
  }
  &__text-bold {
    font-family: AssistantBold;
    font-size: 20px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      background-color: #e4587f;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
    &--is-edit {
      &:after {
        background-color: #51c4d4;
      }
    }
  }

@media screen and(max-width: 992px) {
  .info-block {
    margin-bottom: 70px;
  }
}


