.main {
  &__background {
    background: url(../../content/img/bg-main.jpg) center/cover no-repeat;
    height: 40vmin;
    position: relative;
  }
  &__content {
    min-height: calc(100vh - 239px - 40vmin);
  }
  &__contain{
      height: 49%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 70%;
      margin: auto;
  }
  &__wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


}