<div class="modal-header">
    <div class="row">
        <div class="col-md-8">{{ 'CONTENT.MONTH_DAY' | translate }}</div>
        <div class="col-md-4"><img ng-src="{{ vm.partDayImg }}"></div>
    </div>
</div>
<div class="modal-body" id="modal-body">
 {{ vm.getTypeTrans(vm.day.events) | translate }}
</div>
<div class="modal-footer" >
    <!--<button class="button-default" type="button" ng-click="vm.ok()">{{'CONTENT.OK'|translate}}</button>-->
    <!--<button class="button-not-default" type="button" ng-click="vm.cancel()">{{'CONTENT.CANCEL'|translate}}</button>-->
</div>