.calendar {
  color: #e4587f;
  &__circle-day {
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__default-text {
    font-family: AssistantRegular;
    font-size: 24px;
    width: 65%;
    margin: 0 auto;
  }
  &__text-bold {
    font-family: AssistantBold;
    font-size: 28px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 80%;
      background-color: #e4587f;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


