<div class="history" dir="rtl">

    <div ng-if="vm.step === vm.STEPS.SHOW_LIST">
        <div class="history__top">
            <button class="history__add" ng-click="vm.addDateTime()">
                <div class="history__icon">+</div>
            </button>
            <div class="history__date">
                <div layout="row" layout-align="flex-end space-between">
                    <div class="">
                        <span class="history__date-text">Input the day of menstruation</span>
                        <img src="content/img/icon/fa-calendar.png">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <list-item-custom
                    ng-if="vm.modelDays.data && vm.modelDays.data.length"
                    ng-repeat="item in vm.modelDays.data track by $index"
                    lic-date-text="{{ vm.getItemDateByLang(item) }}"
                    lic-day-part-text="{{ vm.getDayNight(item.isDay) | translate }}"
                    lic-is-day="vm.isDay(item.isDay)"></list-item-custom>
            <div ng-if="vm.modelDays.predictionArray && vm.modelDays.predictionArray.length">
                <p>{{'CONTENT.PERMANENT_DAY'|translate}}</p>
                <span>{{ vm.isRegularText() | translate }}</span>
                <list-item-custom
                        ng-repeat="item in vm.modelDays.predictionArray track by $index"
                        lic-date-text="{{ vm.getItemDateByLang(item) }}"
                        lic-day-part-text="{{ vm.getDayNight(item.isDay) | translate }}"
                        lic-is-day="vm.isDay(item.isDay)"></list-item-custom>
            </div>
        </div>
    </div>
    <div dir="ltr" ng-if="vm.step === vm.STEPS.ADD_DATE_TIME">
        <div>Selected date:</div>
        <div class="history__info">
            <input class="history__input-calendar" type="text" ng-model="vm.dateText" readonly>
        </div>

        <div uib-timepicker
             ng-model="vm.timeModel"
             hour-step="1"
             minute-step="1"
             show-meridian="true">
        </div>
        <div>
            <button class="button-default" ng-click="vm.add()">add</button>
            <button class="button-not-default" ng-click="vm.cancel()">cancel</button>
        </div>
    </div>
</div>

