<div class="history" dir="rtl">

    <div class="history__top">
        <button class="history__add" ng-click="vm.openCalendar()">
            <div class="history__icon">+</div>
        </button>
        <div class="history__date">
            <div layout="row" layout-align="flex-end space-between">
                <div class="">
                    <span class="history__date-text">Input the day of menstruation</span>
                    <img src="content/img/icon/fa-calendar.png">
                </div>
            </div>
        </div>
    </div>
    <div>
        <list-item-custom
                ng-if="vm.modelDays.data && vm.modelDays.data.length"
                ng-repeat="item in vm.modelDays.data track by $index"
                lic-date-text="{{ vm.currentLang() === 'eng' ? item.data2 : item.data1 }}"
                lic-day-part-text="{{ item.isDay === 2 ? 'CONTENT.DAY':'CONTENT.NIGHT' | translate }}"
                lic-is-day="item.isDay === 2"></list-item-custom>
        <p>{{'CONTENT.PERMANENT_DAY'|translate}}</p>
        <p>{{ vm.modelDays.isRegular ? 'CONTENT.REGULAR':'CONTENT.IRREGULAR' | translate }}</p>
        <list-item-custom
                ng-if="vm.modelDays.predictionArray && vm.modelDays.predictionArray.length"
                ng-repeat="item in vm.modelDays.predictionArray track by $index"
                lic-date-text="{{ vm.currentLang() === 'eng' ? item.data2 : item.data1 }}"
                lic-day-part-text="{{ item.isDay === 2 ? 'CONTENT.DAY':'CONTENT.NIGHT' | translate }}"
                lic-is-day="item.isDay === 2"></list-item-custom>
    </div>
</div>
