.history {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding: 30px 0px;
  font-family: AssistantRegular;
  font-size: 16px;
  background-color: rgba(236, 222, 218, 0.8);
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 70vh;
  /* overflow: hidden; */
  overflow-y: scroll;
  &::-webkit-scrollbar { width: 3px; height: 3px;}
  &::-webkit-scrollbar-button {  background-color: #666; }
  &::-webkit-scrollbar-track {  background-color: #999;}
  &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
  &::-webkit-scrollbar-thumb { height: 5px; background-color: #666; border-radius: 3px;}
  &::-webkit-scrollbar-corner { background-color: #999;}
  &::-webkit-resizer { background-color: #666;}
  &__add {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12), 0px 6px 6px 0px rgba(0, 0, 0, 0.24);
    margin-left: 15px;
    background-color: #4b0049;
    border: none;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    i {
      color: #ffffff;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  &__top {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 30px auto;
  }
  .scroll-content {
    top: calc(20vh + 70px);
    height: calc(100vh - 20vh - 70px);
  }
  table {
    display: flex;
    justify-content: center;
  }
  &__date {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    padding: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    .layout-row {
      justify-content: flex-end;
      width: 100%;
      .col-70 {
        display: flex;
        align-items: flex-end;
      }
      .col-30 {
        z-index: 2;
      }
    }
    .ion-android-calendar {
      font-size: 32px;
      &:before {
        vertical-align: bottom;
      }
    }
  }

  &__date-text {
    font-family: "ArimoRegular";
    font-size: 16px;
    color: #928686;
    padding-left: 15px;
  }
  .list-item-custom__date {
    color: #8bd8e2;
  }
  &__info {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {

      font-size: 18px;
      text-align: left;
      width: 35%;
      margin: 0 10px 0 0;
    }
  }
  &__input-calendar {
    border: 0;
    border-top: 10px solid #856894;
    height: 70px;
    width: 200px;
    text-align: center;
    background: url(../../content/img/icon/fa-calendar.png) no-repeat 150px center #ffffff;
  }
  p {
    font-family: ArimoBold;
    font-size: 24px;
    color: #ea688b;
  }
  //&__scroll {
  //  height: 65vh;
  //  overflow-y: scroll;
  //}
  &__icon {
    font-size: 30px;
    color: #ffffff;
  }
}

@media screen and(max-width: 1280px) {
  .history {
    &__top {
      width: 95%;
    }
    &__date-text {
      font-size: 14px;
    }
    &__add {
      margin-left: 0;
    }
  }
}

@media screen and(max-width: 992px) {
  .history {
    height: auto;
    position: relative;
  }
}