.history {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding: 30px 0px;
  font-family: AssistantRegular;
  font-size: 16px;
  background-color: rgba(236, 222, 218, 0.8);
  z-index: 9;
  position: absolute;
  width: 100%;
  height: 140vmin;
  overflow: hidden;

  &__add {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12), 0px 6px 6px 0px rgba(0, 0, 0, 0.24);
    margin-left: 15px;
    background-color: #4b0049;
    border: none;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    i {
      color: #ffffff;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  &__top {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 30px auto;
  }
  .scroll-content {
    top: calc(20vh + 70px);
    height: calc(100vh - 20vh - 70px);
  }

  &__date {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    padding: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.122);
    .layout-row {
      justify-content: flex-end;
      width: 100%;
      .col-70 {
        display: flex;
        align-items: flex-end;
      }
      .col-30 {
        z-index: 2;
      }
    }
    .ion-android-calendar {
      font-size: 32px;
      &:before {
        vertical-align: bottom;
      }
    }
  }

  &__date-text {
    font-family: "ArimoRegular";
    font-size: 18px;
    color: #928686;
    padding-left: 15px;
  }
  .list-item-custom__date {
    color: #8bd8e2;
  }
  p {
    font-family: ArimoBold;
    font-size: 24px;
    color: #ea688b;
  }
  span {
    font-family: ArimoRegular;
    font-size: 16px;
  }
  &__icon {
    font-size: 30px;
    color: #ffffff;
  }
}
@media screen and(max-width: 992px) {
  .history {
    height: auto;
    position: relative;
  }
}