<div class="main-footer">
    <div class="main-footer__decoration-line"></div>
    <div class="main-footer__third-content">
        <div class="main-footer__footer">
            <div class="main-footer__right-side main-footer__right-side--bottom">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs"></div>
                    <div class="col-md-6 col-sm-6 col-xs-8 main-footer__footer-menu">
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li>info</li>
                        </ul>
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li>help & support</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 main-footer__footer-auth">
                        <div class="main-footer__authorization" ng-if="!vm.isAuth()">
                            <p class="cursor-pointer register" ng-click="vm.signUp()">{{ 'CONTENT.REGISTER' | translate }}</p>
                            <span class="main-footer__button-login cursor-pointer"
                                  ng-click="vm.login()">{{ 'CONTENT.LOGIN' | translate }}</span>
                            <p class="main-footer__lang">
                                <md-input-container>
                                    <md-select ng-model="vm.currentLang">
                                        <md-option ng-repeat="item in vm.allLang"
                                                   ng-value="item"
                                                   ng-click="vm.setLang(item)">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </p>
                        </div>
                        <div class="main-footer__authorization" ng-if="vm.isAuth()">
                            <span class="main-footer__button-login cursor-pointer"
                                  ng-click="vm.logout()">logout</span>
                            <p class="main-footer__lang">
                                <md-input-container>
                                    <md-select ng-model="vm.currentLang">
                                        <md-option ng-repeat="item in vm.allLang"
                                                   ng-value="item"
                                                   ng-click="vm.setLang(item)">
                                            {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main-footer__down-footer">
                <div class="col-md-3 col-sm-3 main-footer__lg-icon">
                    <div class="main-footer__social-icon">
                        <img src="content/img/icon/fb.png">
                        <img src="content/img/icon/g.png">
                        <img src="content/img/icon/instgrm.png">
                        <img src="content/img/icon/tw.png">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div class="main-footer__down-footer-menu">
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li class="cursor-pointer" ui-sref="app.main.about">{{ 'CONTENT.ABOUT' | translate }}</li>
                            <li class="cursor-pointer" ui-sref="app.main.terms">Terms & Privacy policy</li>
                            <!--<li class="cursor-pointer" ui-sref="app.main.privacy">Privacy policy</li>-->
                        </ul>
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li class="cursor-pointer" ui-sref="app.main.contact-us">{{ 'CONTENT.CONTACT_US' | translate}}</li>
                            <li class="cursor-pointer" ui-sref="app.main.faq">FAQ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 main-footer__sm-icon">
                    <div class="main-footer__social-icon">
                        <img src="content/img/icon/fb.png">
                        <img src="content/img/icon/g.png">
                        <img src="content/img/icon/instgrm.png">
                        <img src="content/img/icon/tw.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

