.main-footer {
  position: relative;
  z-index: 12;
  md-input-container {
    margin: 0;
  }
  .register {
    margin-right: 15px;
  }
  &__decoration-line {
    margin-top: 30px;
    width: 100%;
    height: 5px;
    background-color: #e9e5df;
    border-bottom: 1px solid #fff;
  }
  &__footer {
    padding: 10px 0;
    width: 100%;
    background-color: #d0c8c5;
    border-bottom: 1px solid #fff;
  }
  &__button-login {
    margin: 0 15px 0 0;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #4b0049;
  }
  &__lang {
    position: relative;
    color: #4b0049;
    .md-select-value {
      border-bottom: none;
      border-bottom-color: transparent;
    }
  }
  &__third-content {
    background-color: #fff;
    overflow: auto;
  }
  &__authorization {
    align-items: center;
    font-family: AssistantRegular;
    display: flex;
    color: #4b0049;
    p {
      margin: 0;
      text-transform: uppercase;
    }
    i {
      margin: 0 10px 5px;
    }
  }
  &__down-footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 5px 0 55px;
    background-color: #e9e5df;
    .col-sm-0 {
      display: none;
    }
  }
  &__footer-menu {
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
  }
  &__footer-auth {
    display: flex;
    justify-content: flex-end;
  }
  &__sm-icon {
    display: none;
  }
  &__right-side {
    //display: flex;
    align-items: center;
    text-transform: uppercase;
    &--bottom {
      width: 95%;
      margin: auto;
      .row {
        display: flex;
        align-items: center;
      }
    }
    ul {
      padding: 0;
      margin-bottom: 0;
      display: flex;
      list-style-type: none;
      font-family: AssistantExtraBold;
      color: #ffffff;
      li {
        margin-right: 0px;
      }
    }
  }
  &__down-footer-menu {
    display: flex;
    justify-content: flex-end;
    color: #4b0049;
    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}

@media screen and(max-width: 1230px) {
  .main-footer {
    &__right-side {
      justify-content: flex-end;
      width: auto;
    }
  }
}

@media screen and (max-width: 992px) {
  .main-footer {
    &__footer-auth {
      justify-content: flex-start;
    }
    .col-sm-0 {
      display: none;
    }
    &__footer-menu {
      justify-content: flex-start;
    }
    &__down-footer-menu {
      justify-content: flex-start;
    }
    &__lg-icon {
      display: none;
    }
    &__sm-icon {
      display: block;
    }
  }
}

@media screen and(max-width: 530px) {
  .main-footer {
    &__sm-icon {
      padding: 0;
      text-align: center;
    }
    &__footer-menu {
      display: none;
      ul {
        padding: 0;
      }
    }
    &__footer-auth {
      margin: auto;
    }
    &__authorization {
      margin: auto;
    }
    &__down-footer-menu {
      justify-content: center;
      text-align: center;
    }
    .col-sm-0 {
      display: none;
    }
  }
}


