<div class="main-footer">
    <div class="main-footer__third-content">
        <div class="main-footer__footer">
            <div class="main-footer__right-side main-footer__right-side--bottom ">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs"></div>
                    <div class="col-md-6 col-sm-6 col-xs-8 main-footer__footer-menu">
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li>info</li>
                        </ul>
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li>help & support</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 main-footer__footer-auth">
                        <div class="main-footer__authorization" ng-if="!vm.isAuth()">
                            <p class="cursor-pointer register" ng-click="vm.signUp()">register</p>
                            <span class="main-footer__button-login cursor-pointer"
                                  ng-click="vm.login()">login</span>
                            <p class="main-footer__lang">en</p>
                        </div>
                        <div class="main-footer__authorization" ng-if="vm.isAuth()">
                            <span class="main-footer__button-login cursor-pointer"
                                  ng-click="vm.logout()">logout</span>
                            <p class="main-footer__lang">en</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main-footer__down-footer">
                <div class="col-md-3 col-sm-3 main-footer__lg-icon">
                    <div class="main-footer__social-icon">
                        <img src="content/img/facebook.png">
                        <img src="content/img/goog.png">
                        <img src="content/img/inst.png">
                        <img src="content/img/twitter.png">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div class="main-footer__down-footer-menu">
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li class="cursor-pointer" ui-sref="app.main.about">About us</li>
                            <li class="cursor-pointer" ui-sref="app.main.terms">Terms & Conditions</li>
                            <li class="cursor-pointer" ui-sref="app.main.privacy">Privacy policy</li>
                        </ul>
                        <ul class="col-md-3 col-sm-3 col-xs-4">
                            <li>Contact us</li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-4 main-footer__sm-icon">
                    <div class="main-footer__social-icon">
                        <img src="content/img/facebook.png">
                        <img src="content/img/goog.png">
                        <img src="content/img/inst.png">
                        <img src="content/img/twitter.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

