<div class="pill">
    <div class="pill__content">
        <div class="pill__info">
            <p>{{'CONTENT.FIRST_DAY_PILLS' | translate}}</p>
            <input class="pill__input-calendar" type="text" ng-model="vm.model.date" readonly>
        </div>
        <div class="pill__info">
            <p>{{'CONTENT.INPUT_NUMBER_DAYS' | translate}}</p>
            <input type="number" min="1" ng-model="vm.model.count">
        </div>
        <div class="pill__buttons">

                <button class="button-default" ng-click="vm.save()">{{'CONTENT.SAVE' | translate}}</button>
            <button class="button-not-default" ng-if="vm.isPills"
                    ng-click="vm.deletePills()">Delete last pills
            </button>
        </div>
    </div>
</div>

