.pill {
  padding-top: 80px;
  text-align: center;
  font-family: AssistantRegular;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  &__content {
    width: 85%;
    margin: 0 auto;
  }
  &__input-calendar {
    background: url(../../content/img/icon/fa-calendar.png) no-repeat 150px center #ffffff;
  }
  &__info {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {

      font-size: 18px;
      text-align: left;
      width: 35%;
      margin: 0 10px 0 0;
    }
  }
  input {
    border: 0;
    border-top: 10px solid #856894;
    height: 70px;
    width: 200px;
    text-align: center;
  }
  button {
    margin: 30px 15px;
  }
}


