<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{'CONTENT.FORGOT_PASSWORD'|translate}}</h3>
</div>
<div class="modal-body" id="modal-body">

    <div class="form">
        <form name="vm.resetPassForm" novalidate>
            <md-input-container md-no-float class="md-block" flex>
                <input ng-model="vm.email"
                       placeholder="{{::'CONTENT.EMAIL'|translate}}"
                       type="email" id="email"
                       name="email"
                       minlength="4"
                       maxlength="50"
                       required
                       aria-label="email">
            </md-input-container>
        </form>
        <p>Enter your Email and we wil send you  link to reset your old password</p>
    </div>
</div>
<div class="modal-footer">
    <button class="button-default" ng-click="vm.continueBtn()"> {{ 'CONTENT.SEND'|translate }}</button>
    <button class="button-not-default" ng-click="vm.cancel()">{{ 'CONTENT.CANCEL' | translate }}</button>
</div>