.my-main {
  .col-md-4 {
    padding: 0;
  }
  &__background {
    background: url(../../content/img/main-bg.png) center/cover no-repeat;
    //height: 70vmin;
    position: relative;
  }
  //p {
  //  margin: 0;
  //}
  &__date {
    width: 100%;
    height: auto;
    padding: 10.7px;
  }
  &__main-calendar {
    margin-top: 40px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
  }
  //&__content {
  //  min-height: calc(100vh - 230px - 40vmin);
  //}
  &__content {
    min-height: calc(100vh - 810px);
    width: 95%;
    margin: auto;
  }
  &__wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__elements {
    font-family: AssistantRegular;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #4b0049;
    p{
      text-shadow: 0px 0px 0px black;
      margin: 0;
    }
    img {
      width: 45px;
      margin-right: 10px;
    }
  }
  &__menu {
    //padding: 10px 0;
    background-color: #fceef2;
    &--active {
      background: red;
    }
  }
}

@media screen and(max-width: 992px) {
  .my-main {
    &__background {
      padding-bottom: 50px;
    }
    &__elements {
      //justify-content: flex-start;
      //width: 50%;
      //margin: auto;
      //transform: translateX(+50%);
      padding: 10px;
    }
    &__notification {
      margin-left: -15px;
    }
    &__menu {
      padding: 0;
    }
  }
}