<div class="welcome" auto-dir>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            {{'CONTENT.WELCOME' | translate}} {{ vm.user.first_name }}
        </h3>
    </div>
    <p>{{'CONTENT.WE_ARE_HAPPY' | translate}}</p>
    <p ng-hide="!vm.data.isTrial">{{'CONTENT.YOU_CAN_TRY' | translate}}</p>
    <div class="modal-body text-center" id="modal-body"
         ng-hide="!vm.data.isTrial">
        <a class="default-text-underline" ng-click="vm.test()">{{'CONTENT.TEST_SEVEN' | translate}}</a>
    </div>
    <div class="modal-footer">
        <a ng-click="vm.buy()" class="button-default default-button-popup"> {{'CONTENT.UPGRADE_ACCOUNT' |
            translate}} </a>
        <a class="button-not-default default-button-popup" ng-click="vm.cancel()"> {{'CONTENT.CANCEL' | translate}} </a>
    </div>
</div>