.welcome-modal {
  .btn-default {
    background-color: #4b0049;
    color: #ffffff;
    padding: 5px 15px;
    border: 0;
  }
  p{
    text-align: center;
    font-size: 16px;
    font-family: AssistantRegular;
  }
  a {
    color: #4b0049;
    text-decoration: underline;
    font-family: AssistantSemiBold;
    font-size: 18px;
  }
  
  .btn-buy {
    text-decoration: none;
    cursor: pointer;
  }
}