<div class="signup-modal">
    <div class="contain">
        <form name="vm.signUpForm" novalidate>
            <div class="signup-modal__contact-content">
                <div class="signup-modal__main-form">
                    <div ng-include="'components/signup/signup-user.html'"></div>
                </div>
                <div class="signup-modal__button-contain">
                    <button class="button-default" ng-click="vm.signUp()">
                        {{'CONTENT.SIGN_UP'|translate}}
                    </button>
                    <button class="button-not-default" ng-click="vm.cancel()">
                        {{ 'CONTENT.CANCEL' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>