.cycle-scroll {
  text-align: center;
  height: 315px;
  font-family: AssistantRegular;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  width: 215px;
  overflow: hidden;
  &__item {
    width: 200px;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 780px) {
  .cycle-scroll {
    height: 35vmin;
    margin-top: 10px;
  }
}

@media screen and (max-width: 460px) {
  .cycle-scroll {
    height: 25vmin;
    width: 200px;
  }
}