<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New password</h3>
</div>
<div class="modal-body" id="modal-body">
    <md-input-container md-no-float class="md-block" flex-gt-sm>
        <input placeholder="New password"
               id="new-password"
               name="new-password"
               aria-label="new-password"
               type="password">
    </md-input-container>

    <md-input-container md-no-float class="md-block" flex-gt-sm >
        <input placeholder="Repeat password"
               id="repeat-password"
               name="repeat-password"
               aria-label="repeat-password"
               type="password">
    </md-input-container>
</div>
<div class="modal-footer">
    <button class="button-default" ng-click="vm.ok()">{{'CONTENT.OK' | translate}}</button>
    <button class="button-not-default" ng-click="vm.cancel()">{{'CONTENT.CANCEL' | translate}}</button>
</div>