<div class="contact-us">
    <div class="contain">
        <p class="contact-us__title">
            For any problem, malfunction and question you can contact us via e-mail.
        </p>
        <div class="contact-us__contact-content">
            <div class="contact-us__left-side">
                <md-input-container md-no-float class="md-block" flex-gt-sm>
                    <input placeholder="Name"
                           id="name"
                           name="name"
                           aria-label="name"
                           type="text">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex-gt-sm>
                    <input placeholder="Email"
                           id="email"
                           name="email"
                           aria-label="email"
                           type="email">
                </md-input-container>
                <md-input-container md-no-float class="md-block" flex-gt-sm>
                    <input placeholder="Subject"
                           id="subject"
                           name="subject"
                           aria-label="subject"
                           type="text">
                </md-input-container>
            </div>
            <div class="contact-us__right-side">
                <md-input-container class="md-block" flex-gt-sm>
                    <textarea type="text"
                              placeholder="Enter your message">
                    </textarea>
                </md-input-container>
            </div>
        </div>
        <div class="contact-us__send">send</div>
    </div>
</div>