.legend {
  width: 68%;
  font-family: ArimoRegular;
  color: #4b0049;
  p {
    margin: 0;
  }
  &__button {
    font-size: 18px;
  }
  &__propose {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    p {
      margin-right: 10px;
    }
  }
  &__button {
    background-color: #4b0049;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 15px;
    padding: 5px 20px;
  }
  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  &__description {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p {
      margin: 0 15px 0 5px;
    }
  }
}

@media screen and(max-width: 992px) {
  .legend {
    width: 100%;
    &__description {
      justify-content: center;
    }
  }
}


